############################################################################
#### Стандартный .htaccess для HTML сайтов                      0.1     ####
############################################################################
  # 1. Удалить www
RewriteCond %{ENV:HTTPS} on
  #Если включен https
RewriteRule .* - [E=SSL:s]
  #То создаем переменную  ssl с текстом s
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
  # Проверяем, содержит ли домен www в начале URL.
RewriteRule ^(.*)$ http%{ENV:SSL}://%1/$1 [R=301,L]
  # Перенаправляем удаляем www

  # 2. Добавить www
#RewriteCond %{ENV:HTTPS} on
  #Если включен https
#RewriteRule .* - [E=SSL:s]
  #То создаем переменную  ssl с текстом s
#RewriteCond %{HTTP_HOST} !^www\.(.*) [NC]
  # Если нет www в начале домена
#RewriteRule ^(.*)$ http%{ENV:SSL}://www.%{HTTP_HOST}/$1 [R=301,L]
  #Подставляем www и https если он включен.

############################################################################
#### Удаляем index.html из URL                                         ####
############################################################################
RewriteRule ^(.*)index\.html$ https://%{HTTP_HOST}/$1 [R=301,L]
RewriteRule ^(.*)index\.htm$ https://%{HTTP_HOST}/$1 [R=301,L]
